//custom variables
$primary: #15b087;
$secondary: #051f173f;
$success:  #a6ff00;
@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';

$custom-theme-colors:(
    "altlight" : #ffd500,
    "altdark" : #431f0b
);

$theme-colors: map-merge($custom-theme-colors,$theme-colors);

//import bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';